.search-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-variant);
}

.search-box > input[type='text'] {
    background-color: var(--color-white);
    color: var(--color-bg);
    padding: 1vmax 2vmax;
    width: 50%;
    height: 8%;
    box-sizing: border-box;
    font: 300 1.1vmax cursive;
    border: none;
    outline: none;
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.search-box > input[type='submit'] {
    background-color:  rgb(224, 51, 20);
    color: var(--color-white);
    padding: 1vmax;
    width: 10%;
    height: 8%;
    font: 300 1.1vmax "Roboto";
    border: none;
    border-radius: 0%;
    cursor: pointer;
    transition: var(--transition);
}

.search-box > input[type='submit']:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
}